.radio-button input[type="radio"] {
    display: none;
}

.radio-button label {
    display: inline-block;
    background-color: #fff;
    border-radius: 15px;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
}

.radio-button input[type="radio"]:checked+label {
    background-color: var(--primary-color);
    color: #fff;
}