@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

main {
  display: relative;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #fff;
  --text-color: #221314;
  --second-color: #5a7184;
  --primary-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.2;
  margin-bottom: 10px;
}


/* home */
header {
  padding: 80px 18%;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/img/01.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.header::before {
  position: absolute;
  content: '';
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.home-text {
  z-index: 1;
}

.home-text h1{
  font-size: var(--big-font);
  line-height: 1.2;
  color: var(--bg-color);
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.home-text p {
  color: #ffffffbf;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 50px;
}

.home-btn {
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px;
  background: #ffffffbf;
  color: var(--primary-color);
  border-radius: 4px;
  transition: ease .40s;
}

.home-btn:hover{
  background-color: var(--bg-color);
  transform: scale(1.1);
}

/* form content */
.main {
  background: rgba(10, 10, 10, .35);
}

.main h1::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: -8px;
  height: 3px;
  width: 60px;
  background: #6e54fa;
}

.input-box {
  width: calc((100% / 2)(-15px));
  margin: 15px 0;
}

.input-box input{
  background: rgba(255, 255, 255, .1);
  color: #faf9f6;
  border: 1px solid rgba(255, 255, 255, .09);
  transition: all .40 ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #faf9f6;
}

.btn-send {
  background: rgba(255, 255, 255, .1);
  color: #faf9f6;
}

/* contact */

.input-contact {
  width: 100%;
  padding: 14px;
  border: none;
  outline: none;
  background: #12917a;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}

.input-area{
  resize: none;
  height: 80px;
}

.btn-contact {
  border: 2px solid transparent;
  transition: ease .20s;
  cursor: pointer;
  color: #fff;
}

.btn-contact:hover{
  border: 2px solid #12917a;
  background: transparent;
  transform: scale(1.1);
}

.contact-img {
  width: 100%;
  height: 100%;
}

section {
  padding: 80px 18%;
}

/* footer */

footer{
  padding: 80px 18%;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.footer-content h4{
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 20px;
} 

.footer-content p{
  color: #d6d6d6;
  font-size: 16px;
  line-height: 30px;
  margin: 20px 0;
}

.icons a{
  display: block;
  color: #d6d6d6;
  font-size: 22px;
  margin-right: 17px;
  transition: all .40s ease;
}

.icons a:hover{
  transform: translate(-5px);
  color: #fff;
}

.footer-content li{
  margin-bottom: 16px;
}

.footer-content li a{
  display: block;
  color: #d6d6d6;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
}

.footer-content li a:hover{
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
}


.triangle {
  font-style: normal;
}

.triangle::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}

.custom-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* social icons */

.social-icons{
	z-index: 888;
  background-color: var(--bg-color);
  padding: 8px;
	position: fixed;
  border-radius: 15px;
	top: 50%;
	left: 30px;
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	transform: translateY(-50%);
	transition: 0.5s ease;
}

.social-icons a{
	color: var(--text-color);
	font-size: 1.6em;
	transition: 0.3s ease;
}

.social-icons a:not(:last-child){
	margin-bottom: 20px;
}

.social-icons a:hover{
	transform: scale(1.3);
}

.truncate-text-3 {
  /* Establece un alto máximo equivalente a tres líneas de texto */
  max-height: calc(1.5em * 3); /* Ajusta 1.5em al tamaño de fuente del texto */
  min-height: calc(1.5em * 3);
  /* Propiedades para truncar el texto si excede el límite de líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.truncate-text-2 {
  /* Establece un alto máximo equivalente a dos líneas de texto */
  max-height: calc(1.5em * 2); /* Ajusta 1.5em al tamaño de fuente del texto */
  min-height: calc(1.5em * 2);
  /* Propiedades para truncar el texto si excede el límite de líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkitt-box-orient: vertical;
}

@media (max-width: 1570px){
  section {
    padding: 80px 15%;
    transition: .3s;
  }

  footer{
    padding: 50px 15%;
  }

  .contact-form h1{
    font-size: 60px;
  }

  .contact-form p{
    margin-bottom: 3rem;
  }
}

@media (max-width: 1200px){

  .home-text h1{
    font-size: 4rem;
  }

  .contact-section {
    gap: 2rem;
    transition: .3s;
    padding: 1rem;
  }

  footer{
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
  }
}

@media (max-width: 1000px){
  
  section {
    padding: 80px 4%;
    transition: .3s;
  }

  footer{
    padding: 50px 4%;
  }

  .contact-section {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .contact-img {
    display: none;
  }

  footer{
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2.5rem;
  }
}



@media (max-width: 500px){
  .home-text h1{
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .home-text p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
  }
}


